@use '../abstracts' as *;

.in_pageHeader {

  display: flex;
  flex-direction: column;
  //justify-content: left;

  display: grid;
  grid-template-columns: $logoWidthBasic auto $logoWidthBasic;
  grid-template-rows: auto #{$spaceBasic} ;
  grid-gap: $spaceBasic;

  width: 100%;
  white-space: nowrap;
  margin-top: $spaceBasic;
}

#h_toolLogo {
  grid-column: 1;
  grid-row: 1;

}
#h_topNav {
  grid-column: 1/4;
  grid-row: 2;

}
#h_ineoLogo {
  grid-column: 3;
  grid-row: 1;
  text-align: right;
  justify-items: stretch;
}



@media (min-width: 800px) {
  .in_pageHeader {
    display: grid;
    align-items: center;
    //grid-template-columns: $logoWidthBasic auto $logoWidthBasic;
    grid-template-rows: auto;
    grid-gap: $spaceBasic;

  }

  #h_toolLogo {
    grid-column: 1;
    grid-row: 1;

  }
  #h_topNav {
    grid-column: 2;
    grid-row: 1;

  }
  #h_ineoLogo {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    align-self: end;
  }

}





.in_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  >* {
    margin-right: 20px;
    color: #000C48;
    font-weight: 500;
  }

}










.in_pageHeader--shadow {
  box-shadow: 0 2px 12px rgba(0,0,0,.1);
}


//
//
// @media (min-width: 900px) {
//   .in_pageHeader {
//       display:grid;
//       justify-content:space-between;
//       grid-template-columns: 2fr 1fr ;
//       align-items: center;
//       width: 100%;
//     }
//
//     .in_pageHeader.in_wrapper {
//         justify-content:center;
//         grid-template-columns: minmax(auto, $siteWrapWidthHalf) minmax(auto, $siteWrapWidthHalf) ;
//
//
//       }
//
// }
