{{> html-header}}

{{> layout/col3_01 }}

{{> ccc/left_bar}}

{{> layout/col3_02 }}

  <main id="ccc_main_content" class="ccc_main_content">
    <div class="ccc_topBlock">
      <h1>{{> ccc/title_bido}}</h1>
    </div>
    {{> ccc/content_bido}}
  </main>





{{> layout/col3_03 }}

{{> ccc/aside}}

{{> layout/col3_04 }}


<div class="notesPop" id="notePop">
  <div class="notesPopInner">Here the note text.  Here the note text.  Here the note text.  Here the note text.  Here the note text.  Here the note text.</div>
</div>

<script src="js/hamburger-menu.js" charset="utf-8"></script>
<script src="js/header2Navigation.js" charset="utf-8"></script>
<script src="js/notesPopup.js" charset="utf-8"></script>
{{> html-footer}}
