{{> html-header}}

{{> layout/col3_01 }}

{{> ccc/left_bar}}

{{> layout/col3_02 }}
<main class="ccc_main_content">
  <section class="ccc_topBlock" aria-label="introduction to the site">
    <span><h1 class="h1top">Colonial Children Connected</h1>
      The <strong>Colonial Children Connected</strong> project shows the lives of (post)colonial children. These microhistories each follow the life of a child involved in (post)colonial child separation practices. The website presents the lives of the children in the form of vignettes. This project is part of the <strong>COAC</strong> project.
    </span>
  </section>
</main>
{{> ccc/filterbox }}
<section class="ccc_vignette_cards"  aria-label="overview of the vignettes">
  {{> ccc/card title="Raden Roro Moerjan" image="Raden-Roro-Moerjan.jpg"}}
  {{> ccc/card title="Bido" image="bido02.png"}}
  {{> ccc/card title="Sietske Croese-Mulder" image="Sietske.png"}}
  {{> ccc/card title="Raden Roro Moerjan" image="Raden-Roro-Moerjan.jpg"}}
  {{> ccc/card title="Bido" image="bido02.png"}}
  {{> ccc/card title="Sietske Croese-Mulder" image="Sietske.png"}}
  {{> ccc/card title="Raden Roro Moerjan" image="Raden-Roro-Moerjan.jpg"}}
  {{> ccc/card title="Bido" image="bido02.png"}}
  {{> ccc/card title="Sietske Croese-Mulder" image="Sietske.png"}}

</section>

{{> layout/col3_03 }}

{{> layout/col3_04 }}



<script src="js/hamburger-menu.js" charset="utf-8"></script>
<script src="js/filterBox.js" charset="utf-8"></script>

{{> html-footer}}
