{{> html-header}}

<div class="layout_3col_vertNav fullHeight">
  
  <header id="colNav" class="colNav in_padding--basic" aria-label="Main navigation">
  <div class="colNavInner">
    <div class="topSpace">
    </div>
  </div>
</header>


  <div id="colContentWide" class="colContentWide">




      <main id="main-content" class="read in_padding--basic maxWidth">
        <h1>{{title}}</h1>


  </main>





  </div>
</div>





<button type="button" name="button" class="hamburgerButton" id="hamburger" onclick="hamburger()" title="click to open the menu">
  <img src="images/icons/icon-hamburger.svg" alt="" class="hamburgerIcon" id="hamburgerImg" />
</button>




<script src="js/hamburger-menu.js" charset="utf-8"></script>
<script src="js/menu-a11y-submenu.js" charset="utf-8"></script>
{{> html-footer}}
