@use 'vars' as *;
@use '../../brands/ineo-vars' as *;

.dataStoryBlocks {
  margin-top: 5rem;
  margin-bottom: 500px;
}







$markerWidth: 4px;
$leftSpace: 80px;

.dsBlock__layout{
  width: 100%;

}

.dsBlock__left {
  width: calc($leftSpace -  $markerWidth);
  padding-left: .6rem;
  border-left: $markerWidth solid #fff;

}

.dsBlock__right {
  width: 100%;
  max-width: 800px;
  margin-right: $marginGap;
}

.dsBlock__margin {
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.dsBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  //cursor: pointer;


  transition: background-color .4s;
  background-color: #fff;

  h1 {
    font-size: 30px;
    margin-bottom: .5rem;
  }



}



.dsBlock__handle {


  //width: $leftSpace;
   border-left: $markerWidth solid $color-grey2;

   text-align: center;

  // display: flex;
  // flex-direction: column;

  button {
    margin-bottom: .5rem;
    min-width:30px;

  }
}
.dsBlock__content {

}

.revealBlock {
  visibility: hidden;
}



.dsBlock--wide {
  .dsBlock__content {
    max-width: 1200px;
  }
}

.dsBlock--wideExtra {
  .dsBlock__content {
    max-width: 1800px;
  }
}




.dsBlock:hover{
  background-color: $color-grey1;

}

.dsBlock:hover .revealBlock{
  visibility: visible;
}

.dsBlock--active {
  background-color: $color-grey1;


  .dsBlock__handle {
    visibility: visible;
     border-left: $markerWidth solid $color-green;

   }
}


.newContent {

  background-color: $color-grey1;
  display: none;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  overflow-x: scroll;

  li {
    list-style: none;
    margin-bottom: .3rem;
    margin-left: 0;
  }
}

.dsBlock__new {
  padding: .5rem;
}










.block_item,   {
  width: 100%;

  display: flex;
  flex-direction: column;

  // padding-top: 2rem;
  // padding-bottom: 2rem;
  padding-left: $marginGap;
  padding-right: $marginGap;
  transition: border-bottom .5s ease-in-out, border-top .5s ease-in-out;
  border-bottom: 1px solid hsl(0, 0%, 100%);
  border-top: 1px solid hsl(0, 0%, 100%);
  cursor: pointer;
  overflow-x: scroll;

  h1, h2, h3, h4, h5, h6, p, ul, ol, .editNote, {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .editNote {
    visibility: hidden;
    font-size: .9rem;
    color: rgb(141, 170, 193);
  }
}

.block_item:hover {
  // border-bottom: 1px solid hsl(0, 0%, 90%);
  // border-top: 1px solid hsl(0, 0%, 90%);
}

.block_item:hover .editNote {
  visibility: visible;
}


.block_item--active {

    border-left: 8px solid hsl(156, 63%, 47%);



  // border-bottom: 1px solid hsl(0, 0%, 90%);
  // border-top: 1px solid hsl(0, 0%, 90%);
  //background: linear-gradient(252deg, rgba(240,243,246,1) 0%, rgba(240,243,246,0) 100%);

}



.blockScroll {
}

.block_item:last-of-type {
    margin-bottom: 60vh;
}

.block_new {
  display: flex;
  flex-direction: row;

  >* {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
  }

}

.newMenu {
  margin-top: 1rem;
  border-radius: 4px;
  background-color: $color_bg;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: hidden;
  height: 0px;
  transition: height .4s ease-in-out;

  >* {
    width: 30%;
    padding: 1rem .5rem;

    li {
      list-style: none;
      margin-left: 0;
    }
  }
}

$newBlockButsize: 30px;
.newBlockButton {
  margin-left: calc( 0px - $newBlockButsize - $marginGap ) ;
  margin-right: $marginGap;
  width: $newBlockButsize;
  height: $newBlockButsize;
  border: none;
  //margin-top: -8rem;
}
