@use '../../brands/ineo-vars' as *;

.dsBlock table {


  width: 100%;
  margin-left: auto;
  margin-right: auto;
  //border: 1px solid $color-grey1;

  tr:nth-child(odd) {
    background: $color-grey1;
  }

  thead tr {
    text-align: left;
    background: #fff;
  }
  td{
    padding: .2rem;
    font-size: .9rem;
  }
}
