@use 'vars' as *;
@use '../../brands/ineo-vars' as *;

.panel_edit {
  width: 100%;
  overflow-x: hidden;
  transition: bottom .4s ease-in-out;
  box-shadow: -10px -10px 50px rgba(#000, 0.3);

  height: 500px;
  bottom: -450px;

  //display: flex;
  justify-content: space-between;
  background-color: $color-grey2;
}

.panel_edit_wrap{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1500px;
}

.panel_edit__split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.panel_edit_inner {

  display: flex;
  flex-direction: column;
  justify-content:flex-start;

  padding: 1rem $marginGap;


}

.edit_header {
  width: 100%;
  color: #fff;
  margin-bottom: 1rem;
  background-color: $color-grey5;
  padding: 1rem $marginGap;
}

.edit_body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.edit_segments {
  width: 300px;
  display: flex;
  flex-direction: column;

  a {
    display: block;
    text-decoration: none;
    color: $color-grey5;
    padding: .5rem 1rem;
    border-bottom: 1px solid $color-grey2;
    background-color: $color-grey1;
    margin-right: 3rem;
  }
  a:hover {
    color: #fff;
    background-color: $color-green;
    color: $color-grey5;
  }
}

@media (min-width: 600px) {
  .edit_body {
    flex-direction: row;
  }
}

textarea {
  width: 700px;
  height: 200px;
  //font-family: monospace;
  font-size: 15px;
  border-radius: 2px;
}

.editorUp {
  bottom: 0px;
}

.editorDown {
  bottom: -450px;
}

.smallEditField{
  height: 2.3rem;
}

label:first-of-type {
  margin-top: 0;
}
