<div class="dsBlock dsBlock__layout dsBlock__new">
  <div class=" dsBlock__left">
    <button type="button" name="button" class="bt_icon newBlockHandler">
      <img src="images/icons/icon-+.svg" alt="">
    </button>
  </div>
  <div class="dsBlock__right">
    <div class="newContent">
      <div>
      <strong>Text</strong>
      <ul>
        <li><button>Markdown</button></li>
        <li><button>HTML</button></li>
        <li><button>WYSISYG</button></li>
        <li><button>Wiki</button></li>
      </ul>
    </div>

    <div>
      <strong>Media</strong>
      <ul>
        <li><button>Image</button></li>
        <li><button>Sound file</button></li>
        <li><button>Video</button></li>
      </ul>
    </div>

    <div>
      <strong>Query</strong>
      <ul>
        <li><button>SQL (Postgresql)</button></li>
        <li><button>SQL (MySQL)</button></li>
        <li><button>SPARQL</button></li>
        <li><button>GraphQL</button></li>
      </ul>
    </div>

    <div>
      <small>Click on a type to add a new content block.</small>
    </div>

    </div>
    </div>

</div>
