<div>
  <div class="block_item"><div class="editNote">Click to edit block</div><h1>The 'Spanish' Flu Epidemic in The Netherlands 1918-19</h1></div>
  {{> dstore/newBlock }}
  <div class="block_item"><div class="editNote">Click to edit block</div>{{> dstore/text1 }}</div>
  {{> dstore/newBlock }}
  <div class="block_item blockScroll"><div class="editNote">Click to edit block</div>{{> dstore/table1 }}</div>
  {{> dstore/newBlock }}
  <div class="block_item"><div class="editNote">Click to edit block</div>{{> dstore/text1 }}</div>
  {{> dstore/newBlock }}
  <div class="block_item"><div class="editNote">Click to edit block</div>{{> dstore/text1 }}</div>
  {{> dstore/newBlock }}
</div>
