<div class="panel_edit fixedBottom" id="panel_edit">

  <div class="edit_header">
    <div class="panel_edit_wrap panel_edit__split">
      <div><strong>Edit markdown block</strong></div>
      <button type="button" name="button" id="panelHandleButton" onclick="removeFocusFromBlock();" class="bt_icon">
          <img src="images/icons/icon-arrow-down.svg" alt="">
      </button>
    </div>
  </div>

  <div class="panel_edit_inner panel_edit_wrap">


  <div class="edit_body">
    <div class="edit_segments">
      <a href="">Text1</a>
      <a href="">Metadata</a>
      <a href="">Notes and Comments</a>
      <a href="">Provenance</a>
      <a href="">Layout</a>
    </div>
    <div class="edit_workspace">
      {{> dstore/editBox3 items=[{"option":"222"},{"option":"111"},{"option":"33"}]}}
      {{> dstore/editBox1 }}
      
  </div>

  </div>


  </div>
</div>
