<label class="labelTxt" for="text1">
    Metadata type
    
    <select name="" id="" class="hc_marginBot05">
        <option value="dct:title">Title</option>
        <option value="dct:bescription">Description</option>
        <option value="dct:created">Date Created</option>
        <option value="dct:language">Language</option>
        <option value="dct:type">Type</option>
        <option value="dct:references">References</option>
    </select>
</label>

<label class="labelTxt" for="text1">
    Metadata value

    <div class="fieldRow hc_marginBottom05">
        <input type="text" id="text1" name="text1" class="hc_marginRight05">
        <button>Add</button>
    </div>
</label>

<div class="editList hc_marginTop1 hc_marginBot1">
    <ul>
        <li>
            <div class="editList__text"><span class="hc_text--S"> dct:title</span><br>The dataset</div>
            <div class="editList__button">
                <button type="button" name="button" class="bt_icon block_event">
                    <img src="images/icons/icon-edit.svg" alt="">
                  </button>
            </div>
            <div class="editList__button">
                <button type="button" name="button" class="bt_icon">
                <img src="images/icons/icon-delete.svg" alt="">
              </button></div>
        </li>
    </ul>
</div>