<div class="block_new">
  <div>
    <button type="button" name="button" class="newBlockButton" id="newBlockButton">+</button>

    <div class="newMenu">

      <div>
        
      <strong>TEXT</strong>
      <ul>
        <li>Markdown</li>
        <li>HTML</li>
        <li>WYSISYG</li>
        <li>Wiki</li>
      </ul>
    </div>

    <div>
      <strong>MEDIA</strong>
      <ul>
        <li>Image</li>
        <li>Sound file</li>
        <li>Movie</li>
      </ul>
    </div>

    <div>
      <strong>QUERY</strong>
      <ul>
        <li>SQL (Postgresql)</li>
        <li>SQL (MySQL)</li>
        <li>SPARQL</li>
        <li>GraphQL</li>
      </ul>
    </div>

  </div>
</div>
</div>
