<div class="ccc_filterbox">

  <section class="ccc_filterbox_vis"  aria-label="filters for selecting a vignette">
    <div>
      <img src="images/icon_filter.png" alt="">
        <strong>Filters </strong>
        <div></div>
      </div>

    <button type="button" name="button" onclick="handleFilterbox()"><img src="images/icon_arrow_down.png" alt="" id="rotateIcon" aria-label="Show or hide the filters"></button>
  </section>

  <section id="optionBox" class="ccc_filterbox_lists"  aria-label="Select a filter">
    <div>
      <strong>Keywords</strong>
      <ul>
        {{> ccc/filterbox-checkbox label="Colonial exploration"}}
        {{> ccc/filterbox-checkbox label="Disease"}}
        {{> ccc/filterbox-checkbox label="Guide"}}
        {{> ccc/filterbox-checkbox label="Medicine"}}
        {{> ccc/filterbox-checkbox label="Missionaries"}}
        {{> ccc/filterbox-checkbox label="Extinction trope"}}
        {{> ccc/filterbox-checkbox label="Families"}}
      </ul>
    </div>



    <div>
      <strong>Keywords</strong>
      <ul>
        {{> ccc/filterbox-checkbox label="Colonial exploration"}}
        {{> ccc/filterbox-checkbox label="Disease"}}
        {{> ccc/filterbox-checkbox label="Guide"}}
        {{> ccc/filterbox-checkbox label="Medicine"}}
        {{> ccc/filterbox-checkbox label="Missionaries"}}
        {{> ccc/filterbox-checkbox label="Extinction trope"}}
        {{> ccc/filterbox-checkbox label="Families"}}
      </ul>
    </div>


    <div>
      <strong>Keywords</strong>
      <ul>
        {{> ccc/filterbox-checkbox label="Colonial exploration"}}
        {{> ccc/filterbox-checkbox label="Disease"}}
        {{> ccc/filterbox-checkbox label="Guide"}}
        {{> ccc/filterbox-checkbox label="Medicine"}}
        {{> ccc/filterbox-checkbox label="Missionaries"}}
        {{> ccc/filterbox-checkbox label="Extinction trope"}}
        {{> ccc/filterbox-checkbox label="Families"}}
      </ul>
    </div>

  </section>

</div>
