
  <section class="ccc_brand ccc_topBlock"  aria-label="Welcome to Colonial children Reconnected">
    <a href="/"  aria-label="Go to the homepage"><img src="images/logo_colonial_children_connected.png" alt=""></a>
  </section>

  <nav class="ccc_navigation" id="pageContentList">
    <a href="ccc_home.html">Vignettes</a>
    <a href="ccc_detail.html">About the project</a>
    <a href="ccc_home.html">Code of conduct</a>
    <a href="ccc_detail.html">Disclaimer</a>

  </nav>

  <section class="ccc_project"  aria-label="Partner">Part of the COAC project</section>
