{{> html-header}}

{{!-- > question/comp_name --}}


<div class="App">
  <header>
    <h1>Pre DPIA</h1>
  </header>






  <div class="pageBlock">
    <div>
      <div class="pageInfo">
        <div class="pageTitle">Algemene gegevens</div>
        <p>Algemene vragen</p>
      </div>
      <label>
        <strong>Naam</strong><br>
        <div class="answers">
          <div><input type="text" value=""></div>
        </div>
      </label>

      <label><strong>Functie</strong><br>
        <div class="answers">
          <div><input type="text" value=""></div>
        </div>
      </label>

      <label>
        <strong>Instituut / Afdeling</strong>
        <div class="answers">
          <div><input type="text" value=""></div>
        </div>
      </label>

    </div>
  </div>



  <div class="pageBlock">
    <div class="questionBlock">



        <div class="pageInfo">
          <div class="pageTitle">Vraag 1</div>
          <p>Algemene vragen</p>
        </div>


      <label>
        <strong>Worden er persoonsgegevens van levende personen verwerkt?</strong>
        <div class="description">De AVG is alleen van toepassing op levende personen. Een foto van een graf met de gegevens van een overleden persoon valt bijvoorbeeld niet onder de
        AVG.</div>
        <div class="answers">
          <div class="">
            <div><input type="radio" name="1" value="Yes" checked=""> Yes</div>
            <div><input type="radio" name="1" value="No"> No</div>
          </div>
        </div>
      </label>
    </div>
  </div>




  <div class="TransportButtons"><button id="b_prev">Vorige</button><button id="b_next">Volgende</button></div>

</div>




{{> html-footer}}
