@use '../abstracts' as *;

.hc_elementAlign--justify {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.hc_elementAlign--left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.hc_elementAlign--right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.hc_elementAlign--horizon {
  width: 100%;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: flex-start;
}


@media (min-width: 800px) {
  .hc_elementAlign--justify {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

  .hc_elementAlign--left {
    flex-direction: row;
  }

  .hc_elementAlign--right {
    flex-direction: row;
  }
}

.hc_elementAlign--vert {
  display: flex;
  flex-direction: column;

}
