@use '../abstracts' as *;

.in_label{
	font-size: $fontSizeSmall;
	font-weight: $fontWeightBold;
	text-transform: uppercase;
	color: $colorTextGrey
}

.in_description {
	font-size: $fontSizeXS;
	color: $colorTextGrey;
}

.in_uri {
	font-family: $fontFamilyMono;
	font-size: $fontSizeSmall;
}

body > .in_wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: $siteWrapWidth;
}


.in_backButton {
  position: fixed;
  left: 0;
  top: 0;
  padding: .3rem .5rem;
	font-size: .7rem;
  background-color: rgba(18, 12, 61, 0.7);
	color: #fff;

	a {
		color: #fff;
	}


}
