<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="images/favicon/favicon.ico" />
  </head>
  <body>
    <h1>{{title}} ##</h1>
    {{#each pagesList}}
    <a href="{{file_name}}">{{title}}</a>
    <br>
    {{/each}}

    <form method="post" action="http://localhost:3000/">
<textarea name="content" rows="3" cols="80" id="sendContent">wert wertwer</textarea>
  <input type="submit" value="Submit">
</form>

<form class="" action="http://localhost:3000/" method="post" id="storeForm">
  <textarea name="content" rows="3" cols="80" id="sendContent"></textarea>
</form>

  </body>
</html>
