<div class="hc_padding--basic blocks borderLeft">
  <div class="topSpace">
    <h1>Instructions</h1>
  </div>

  <h2>Heading 1</h2>
  <p>Notice that you’re not naming lines with this syntax, just areas. When you use this syntax the lines on either end of the areas are actually getting named automatically. If the name of your grid area is foo, the name of the area’s starting row
    line and starting column line will be foo-start, and the name of its last row line and last column line will be foo-end. This means that some lines might have multiple names, such as the far left line in the above example, which will have three
    names: header-start, main-start, and footer-start.</p>

  <h2>Heading 2</h2>
  <p>Notice that you’re not naming lines with this syntax, just areas. When you use this syntax the lines on either end of the areas are actually getting named automatically. If the name of your grid area is foo, the name of the area’s starting row
    line and starting column line will be foo-start, and the name of its last row line and last column line will be foo-end. This means that some lines might have multiple names, such as the far left line in the above example, which will have three
    names: header-start, main-start, and footer-start.</p>

  <h2>Heading 3</h2>
  <p>Notice that you’re not naming lines with this syntax, just areas. When you use this syntax the lines on either end of the areas are actually getting named automatically. If the name of your grid area is foo, the name of the area’s starting row
    line and starting column line will be foo-start, and the name of its last row line and last column line will be foo-end. This means that some lines might have multiple names, such as the far left line in the above example, which will have three
    names: header-start, main-start, and footer-start.</p>

</div>
