{{> html-header}}



<div class="layout_3col hc_fullHeigh">
  <div id="col1" class="hc_padding--basic">
    {{> cts/comp-top-branding}}
    {{> cts/requirementsMenu}}

  </div>

  <main id="col2">
    {{> cts/form-requirement}}
  </main>

  <div id="col3" class="">
    {{> cts/comp-tabs}}
    {{> cts/comp-transport save=true}}
  </div>

  <div id="topbar"  class="topbar">
    {{> cts/comp-login-info}}
    {{> cts/comp-message-box}}
  </div>

</div>


<script src="js/tabs.js" charset="utf-8"></script>


{{> html-footer}}
