{{> html-header}}



<div class="hc_layout_3col hc_fullHeigh"><!-- layout container -->
  <div id="col1" class="hc_padding--basic"> <!-- layout column 1 -->
    {{> cts/comp-top-branding}}
    {{> cts/comp-lists-overview}}
  </div><!-- // layout column 1 -->




  <main id="col2wide"><!-- layout column 2 -->
    {{> cts/list-applications}}
  </main><!-- // layout column 2 -->




  <div id="topbar" class="hc_topbar"> <!-- layout topbar -->
    {{> cts/comp-login-info}}
    {{> cts/comp-message-box}}
  </div> <!-- // layout topbar -->


</div><!-- // layout container -->


<script src="js/responsive.js" charset="utf-8"></script>


{{> html-footer}}
