{{> html-header}}

{{> nmgn/nmgn-header}}
<main class="nmgn-chapter-layout">
  {{> nmgn/nmgn-chapter-hero}}

  <section class="nmgn-content nmgn-margin">
    <div class="nmgnChapterContent ">{{> nmgn/nmgn-chapter-content}}</div>
    <div class="nmgn-content-text topMargin">{{> nmgn/d1h2}}</div>
    <div class="nmgn-content-notes topMargin">{{> nmgn/nmgn-note-content}}</div>
    <div class="nmgn-content-illustration">{{> nmgn/nmgn-illu}}</div>



  </section>
</main>




<script src="js/nmgn-nav-pop.js" charset="utf-8"></script>
{{> html-footer}}
