
{{# if states.state_admin}}
<div class="blockColored blockNegativeMargin">
  <div class="hc_text--italic hc_text--S ">Admin tools</div>
  <div class="hc_list hc_list_noBullets">
    <ul>
      <li>Edit form</li>
      <li>Edit categories</li>
      <li>Edit feedback responses</li>
    </ul>
  </div>
</div>
{{/if}}



<div class="blockColored blockNegativeMargin">
  <div class="hc_text--italic hc_text--S">As an applicant</div>
  <div class="hc_list hc_list_noBullets">
    <ul>
      <li>1 application in draft</li>
      <li>2 applications in review</li>
    </ul>
  </div>

</div>



<div class="blockColored blockNegativeMargin">
  <div class="hc_text--italic hc_text--S ">As a reviewer </div>
  <div class="hc_list hc_list_noBullets">
  <ul>
    <li>2 applications in review</li>
  </ul>
  </div>
</div>




<div class="blockColored blockNegativeMargin">
  <div class="hc_text--italic hc_text--S ">As an administrator</div>
  <div class="hc_list hc_list_noBullets">
  <ul>
    <li>12 applications in draft</li>
    <li>20 applications in review</li>
    <li>5 applications in board review</li>
  </ul>
  </div>
</div>
