<div class="blockColored blockNegativeMargin">
  <div>
    As an applicant
  </div>
  <div class="hc_list hc_list_noBullets">
    <ul>
      <li>1 application in draft</li>
      <li>2 applications in review</li>
    </ul>
  </div>

</div>



<div class="blockColored blockNegativeMargin">
  <div>
    As a reviewer
  </div>
  <div class="hc_list hc_list_noBullets">
  <ul>
    <li>2 applications in review</li>
  </ul>
  </div>
</div>




<div class="blockColored blockNegativeMargin">
  <div>
    As an administrator
  </div>
  <div class="hc_list hc_list_noBullets">
  <ul>
    <li>12 applications in draft</li>
    <li>20 applications in review</li>
    <li>5 applications in board review</li>
  </ul>
  </div>
</div>
