<!-- Component: Login Info -->
<div class="hc_loginInfo">
  <div class="hc_loginInfo__name">
    Bas Doppen
  </div>

  <div class="hc_loginInfo__role">
    <select>
      <option selected="selected">Applicant</option>
      <option >Reviewer</option>
      <option >Admin</option>
      <option >Super admin</option>
    </select>
  </div>

  <!-- <div class="hc_loginInfo__avatar">
    <img src="images/icon-status-00.svg" alt="">
  </div> -->

  <div class="hc_loginInfo__logout">
    <button type="button" name="button">Logout</button>
  </div>
</div>
<!-- // Component: Login Info -->
