<div class="tmpLog">
  <div class="">
    Bas Doppen
  </div>
  <div class="">
    <select id="form-widgets-r1_compliance" name="form.widgets.r1_compliance:list" class="" size="1">
      <option id="form-widgets-r1_compliance-novalue" value="--NOVALUE--"  selected="selected">Applicant</option>
      <option id="form-widgets-r1_compliance-0" value="0-2013-not-applicable">Reviewer</option>
      <option id="form-widgets-r1_compliance-1" value="1-2013-the-repository-has-not-considered-this-yet">Admin</option>
      <option id="form-widgets-r1_compliance-2" value="2-2013-the-repository-has-a-theoretical-concept">Super admin</option>
    </select>
  </div>
  <div class="">
    <img src="images/icon-status-00.svg" alt="">
  </div>
</div>
