<div class="blockColored blockNegativeMargin">
  <div>
    As an applicant
  </div>
  <ul>
    <li>1 application in draft</li>
    <li>2 applications in review</li>
  </ul>
</div>



<div class="blockColored blockNegativeMargin">
  <div>
    As a reviewer
  </div>
  <ul>
    <li>2 applications in review</li>
  </ul>
</div>




<div class="blockColored blockNegativeMargin">
  <div>
    As an administrator
  </div>
  <ul>
    <li>12 applications in draft</li>
    <li>20 applications in review</li>
    <li>5 applications in board review</li>
  </ul>
</div>
