<div>Requirement <strong>R4</strong></div>

<h2 class="hc_marginTop2 hc_marginBot2">
  The repository has an explicit mission to provide access to and
  preserve data in its domain.
</h2>

<label for="complLevel">Level of complience</label>
<div>
  {{> cts/form-select-compliance}}
</div>


<label for="response">Response</label>
<div>
  <textarea name="response" >{{> cts/form-requirement-txt}}</textarea>
</div>


<label for="links">Links</label>
<div>
  <button type="button" name="button">Add evidence</button>
</div>
