<div class="blockColored blockNegativeMargin">

  <div class="hc_list hc_list_noBullets hc_list_lines hc_list_segments hc_list_interactive">
    <ul>
      <li class="hc_text--bold">Edit future draft</li>
      <li>Current version</li>
    </ul>
  </div>

</div>


<div class="blockColored blockNegativeMargin">

<div class="hc_text--italic hc_text--S hc_marginBot05">Previous versions</div>
  <div class="hc_list hc_list_noBullets hc_list_lines hc_list_segments hc_list_interactive">
    <ul>
      <li>12 Dec 2021</li>
      <li>31 Jun 2021</li>
      <li>1 Mar 2021</li>
      <li>31 Nov 2020</li>
    </ul>
  </div>

</div>
