<select id="form-widgets-r1_compliance" name="form.widgets.r1_compliance:list" class="" size="1">
  <option id="form-widgets-r1_compliance-novalue" value="--NOVALUE--">No value</option>
  <option id="form-widgets-r1_compliance-0" value="0-2013-not-applicable">0 – Not applicable</option>
  <option id="form-widgets-r1_compliance-1" value="1-2013-the-repository-has-not-considered-this-yet">1 – The repository has not considered this yet</option>
  <option id="form-widgets-r1_compliance-2" value="2-2013-the-repository-has-a-theoretical-concept" selected="selected">2 – The repository has a theoretical concept</option>
  <option id="form-widgets-r1_compliance-3" value="3-2013-the-repository-is-in-the-implementation">3 – The repository is in the implementation phase</option>
  <option id="form-widgets-r1_compliance-4" value="4-2013-the-guideline-has-been-fully-implemented-in">4 – The guideline has been fully implemented in the repository</option>
</select>
