<h2>My applications in draft</h2>
<!-- component list header -->
<div class="hc_list hc_list_noBullets hc_list_lines hc_list_segments">
  <ul class="hc_text--italic">
    <li>
      <div class="">Application</div>
      <div>Status</div>
      <div>Participants</div>
      <div>Institute</div>
    </li>
  </ul>
</div>
<!-- // component list header -->






<!-- component applications overview list -->
<div class="hc_list hc_list_noBullets hc_list_lines hc_list_segments hc_list_interactive">
  <ul>
    {{#each applicationlist}}
    <li>
      <div class="hc_text--bold">{{name}}</div>
      <div>{{status}}</div>
      <div>{{participants}} <button type="button" name="button" class="hc_b--xs hc_b--obtrusive"><img src="images/icons/icon-edit.png" alt=""></button></div>
      <div>KNAW Humanties Cluster <button type="button" name="button" class="hc_b--xs hc_b--obtrusive"><img src="images/icons/icon-edit.png" alt=""></button></button></div>
    </li>
    {{/each}}

  </ul>
</div>
<!-- // component applications overview list -->
