

<!-- component url list item -->
<li>
  <div class="hc_text--bold">{{name}}</div>
  <div>{{url}}</div>
  <div>
    <button type="button" name="button" class="hc_b--xs hc_b--obtrusive">Add to requirement</button>
    <button type="button" name="button" class="hc_b--xs hc_b--obtrusive"><img src="images/icons/icon-edit.png" alt=""></button>
    <button type="button" name="button" class="hc_b--xs hc_b--obtrusive"><img src="images/icons/icon-delete.svg" alt=""></button>
  </div>
</li>
<!-- // component url list item -->
