<div class="navNoList">



    {{#each appForms}}
    {{#if typeH1}}



      {{#if isFirst}}
      {{else}}
        </ul>
      </div>
      {{/if}}


      {{#if isLast}}
      {{else}}
      <div class="blockColored blockNegativeMargin">
        <em>{{this.title}}</em>
        <ul>
      {{/if}}



    {{/if}}




    {{#if typeH2}}
      <li class="menuItem {{#if active}}active{{/if}}">
        <span>R{{this.nr}}</span>
        <span class="">{{this.title}}</span>
        <span class="tempIcon">
          <img src="images/icon-status-00.svg" alt="">
        </span>
      </li>
    {{/if}}

    {{/each}}
  </ul>

  {{> cts/comp-transport transp=true}}
</div>
