<!-- component requirements sidebar -->
<div class="hc_requirementsMenu navNoList">



    {{#each appForms}}
    {{#if typeH1}}



      {{#if isFirst}}
      {{else}}
        </ul>
      </div>
      <!-- // component requirements category block -->
      {{/if}}


      {{#if isLast}}
      {{else}}
      <!-- component requirements category block -->
      <div class="blockColored blockNegativeMargin">
        <div class="hc_requirementsMenu__category">{{this.title}}</div>
        <ul>
      {{/if}}



    {{/if}}




    {{#if typeH2}}
      <!-- component requirements menu item -->
      <li class="hc_requirementsMenu__item {{#if active}}hc_requirementsMenuItem--active{{/if}}">
        <span class="hc_requirementsMenu__rNumber">R{{this.nr}}</span>
        <span class="hc_requirementsMenu__name">{{this.title}}</span>
        <span class="hc_requirementsMenu__StatusIcon">
          <img src="images/icon-status-00.svg" alt="">
        </span>
      </li>
      <!-- // component requirements menu item -->
    {{/if}}

    {{/each}}
  </ul>

  {{> cts/comp-transport transp=true}}
</div>
<!-- // component requirements sidebar -->
