<div class="hc_elementAlign--justify hc_marginTop1 hc_marginBot05">
  <div>
    <button type="button" name="button"  class="hc_b--xs hc_b--obtrusive">Add&nbsp;Url</button>
  </div>
  <div>
    <input type="text" name="" value="" placeholder="Type to filter" class="hc_formfield--small">
  </div>
</div>

<div class="hc_list hc_list_noBullets hc_list_lines hc_text--S">
  <ul>
    {{> cts/listItem-urls name="Mission stagement"   url="https://bpos.bg/assets/documents/Deposit%20agreement_ENG.pdf"}}
    {{> cts/listItem-urls name="Mission stagement 2" url="https://bpos.bg/assets/documents/Instructions%20on%20publishing.pdf "}}
    {{> cts/listItem-urls name="Mission stagement 3" url="https://bpos.bg/en/terms-and-conditions"}}
    {{> cts/listItem-urls name="Mission stagement"   url="https://bpos.bg/assets/documents/Deposit%20agreement_ENG.pdf"}}
    {{> cts/listItem-urls name="Mission stagement 2" url="https://bpos.bg/assets/documents/Instructions%20on%20publishing.pdf "}}
    {{> cts/listItem-urls name="Mission stagement 3" url="https://bpos.bg/en/terms-and-conditions"}}
    {{> cts/listItem-urls name="Mission stagement"   url="https://bpos.bg/assets/documents/Deposit%20agreement_ENG.pdf"}}
    {{> cts/listItem-urls name="Mission stagement 2" url="https://bpos.bg/assets/documents/Instructions%20on%20publishing.pdf "}}
    {{> cts/listItem-urls name="Mission stagement 3" url="https://bpos.bg/en/terms-and-conditions"}}
  </ul>
</div>
