<div class="hc_marginTop1 hc_marginBot1">
  <select>
    <option selected="selected">Select a previous version</option>
    <option >12 June 2021</option>
    <option >30 April 2021</option>
    <option >14 February 2021</option>
  </select>
</div>



<p>
  <strong>Reviewer 1</strong><br>
  Your narrative is not convincing enough</p>

<p>
  <strong>Level of complience</strong><br>
  2 – The repository has a theoretical concept</p>


<p>
  <strong>Comment</strong><br>
The new evidence makes the process much clearer and proves a structured approach on preservation planning. Planned activities to improve and automate the process and use Archivematica as a digital preservation system are convincing. You may consider file format validation (if applicable) in your longer-term plan, which isn’t mentioned there yet.</p>
<br><br><br><br><br><br><br><br><br>
