@use '../../abstracts' as *;

.hc_loginInfo {
  width: 100%;
  height: 40px;
  text-align: right;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;


  .hc_loginInfo__avatar img {
    height: 30px;
    width: auto;
  }

  select, option {
    font-size: .85rem;
    padding: 5px;
  }
}


@media (min-width: $breakpoint3Col) {
  .hc_loginInfo {
    max-width: $colWidth1;
  }
}

@media (min-width: $breakpoint3ColBig) {
  .hc_loginInfo {
    max-width: $colWidth2;
  }
}
