<div class="noteContent hc_text--XS" id="asideNoteContent">
  F. Braudel, ‘Histoire et Sciences sociales: La longue durée’, <em>Annales E.S.C.</em> 13:4 (1958) 725-753; D.J. Beets, M.M. Fischer en W. de Gans (ed.), <em>Coastal Studies on the Holocene of the
    Netherlands</em> (Haarlem 1996); G. Borger, A. Haartsen, P. Vesters, <em>Het Groene Hart. Een Hollands cultuurlandschap</em> (Utrecht 1997); P. van Dam, ‘De nieuwe waterstaatsgeschiedenis. De interactie tussen mens en natuur in Holland’,
  <em>Holland</em> 36 (2006) 128-141; J.C.A. Kolen, <em>De biografie van het landschap</em> (Amsterdam 2005) 25-110.<br>
  <a href="https://www.worldcat.org/oclc/5543985612" target="_blank">Zie worldcat.org</a><br>
  <a href="https://www.worldcat.org/oclc/922825805" target="_blank">Zie worldcat.org</a><br>
  <a href="https://www.worldcat.org/oclc/474229621" target="_blank">Zie worldcat.org</a><br>
  <a href="https://www.worldcat.org/oclc/8086984735" target="_blank">Zie worldcat.org</a><br>
  <a href="https://www.worldcat.org/oclc/66490801" target="_blank">Zie worldcat.org</a>
  </div>
