<div class="nmgnContentList nmgn-margin hc_text--XS topMargin">
  <div>
  <em>Hooofdstuk inhoud</em>
  <nav id="subNavigation">
    <a href="#l1_LAGE_LANDEN_EN_BOVENLANDEN" class=""><strong>1 LAGE LANDEN EN BOVENLANDEN</strong></a>
    <a href="#lVaren_als_landschappelijke_noodzaak" class="">Varen als landschappelijke noodzaak</a>
    <a href="#lDe_kustvaart_vermeden_" class="">De kustvaart vermeden </a>
    <a href="#lRidder_en_paard,_boer_en_boot" class="">Ridder en paard, boer en boot</a>
    <a href="#lHofsteden,_markten_en_centraal_gezag_" class="">Hofsteden, markten en centraal gezag </a>
    <a href="#lRegelgeving_en_roofbouw_" class="">Regelgeving en roofbouw </a>
    <a href="#lRiviervaart,_tol_en_sluikhandelaren_" class="">Riviervaart, tol en sluikhandelaren </a>
    <a href="#lEenheid_in_verscheidenheid" class="">Eenheid in verscheidenheid</a>
    <a href="#l2_SCHEPEN" class=""><strong>2 SCHEPEN</strong></a>
    <a href="#lKleine_bootjes,_punters_en_aakjes" class="">Kleine bootjes, punters en aakjes</a>
    <a href="#lRonde_schepen_" class="">Ronde schepen </a>
    <a href="#lIJsselmeerschepen_en_het_lage_land_" class="">IJsselmeerschepen en het lage land </a>
    <a href="#lNederlanders_en_bovenlanders_" class="">Nederlanders en bovenlanders </a>
    <a href="#lDe_grotere_platbodem" class="">De grotere platbodem</a>
    <a href="#lVoortstuwing_en_tuigage" class="">Voortstuwing en tuigage</a>
    <a href="#lVlotterij_en_houthandel" class="">Vlotterij en houthandel</a>
    <a href="#lBouwtechniek" class="">Bouwtechniek</a>
    <a href="#lEen_veelheid_gaat_voorbij" class="">Een veelheid gaat voorbij</a>
    <a href="#l3_Bemanning" class=""><strong>3 Bemanning</strong></a>
    <a href="#lSchippers,_gilden_en_groepsidentiteit_" class="">Schippers, gilden en groepsidentiteit </a>
    <a href="#lGilden_en_belangenbehartiging" class="">Gilden en belangenbehartiging</a>
    <a href="#lWonen_aan_boord_of_aan_de_wal_" class="">Wonen aan boord of aan de wal </a>
    <a href="#l4_Infrastructuur_en_veiligheid" class=""><strong>4 Infrastructuur en veiligheid</strong></a>
    <a href="#lEen_enkele_hoofdlijn,_een_enkel_detail" class="">Een enkele hoofdlijn, een enkel detail</a>
    <a href="#lPolders,_dijken_en_uitwaterende_sluizen_" class="">Polders, dijken en uitwaterende sluizen </a>
    <a href="#lAfwatering_en_ingelanden_" class="">Afwatering en ingelanden </a>
    <a href="#lDammen,_stapeldwang_en_doorgaande_routes" class="">Dammen, stapeldwang en doorgaande routes</a>
    <a href="#lHavens,_grondwerk,_onderhoud_en_nog_eens_onderhoud_" class="">Havens, grondwerk, onderhoud en nog eens onderhoud </a>
    <a href="#lTot_besluit" class="">Tot besluit</a>
    <a href="#lNoten" class="">Noten</a>
    </nav>
  </div>
</div>
