<figure class="nmgn-illustartion__image">
  <img src="images/2_Maquette.jpg" alt="">
  <figcaption class="hc_text--XS">
    <strong>Maquette van de aanleg van het Kanaal van Corbulo</strong><br>
    Om zijn soldaten bezig te houden, maar ook voor snelle vaart achter de duinen liet de Romeinse veldheer Gnaius Domitius Corbulo kort na het jaar 47 een kanaal graven tussen de benedenloop van de Rijn en de veenstroom de Gantel die op de Maas aansloot. Het kanaal was tenminste 34 kilometer lang en werd in archeologische opgravingen teruggevonden. Deze maquette laat de graafwerkzaamheden zien ter hoogte van de Rietvink in Leidschendam.
    Archeologische Werkgroep Leidschendam-Voorburg.
  </figcaption>
</figure>
