@use 'abstracts' as *;
@use 'basics/normalise';
@use 'basics/pageDefault';
@use 'basics/typo';
@use 'basics/colors';
@use 'utillities/utilities';
@use 'basics/margin-padding';
@use 'basics/nav';
@use 'layout/_layout-2colVertNav';

$ctsBlueLight: hsl(209, 40%, 96%);
$ctsBlueLight2: hsl(209, 20%, 89%);
$ctsGreyDark: #313b48;


.bgBlueLight {
  background-color: $ctsBlueLight;
}

.hc_lineRight {
  border-right: 1px solid $ctsBlueLight2;
}
