@use 'abstracts' as *;
@use 'custom/dstore/vars';
@use 'basics/normalise';
@use 'basics/pageDefault';
@use 'basics/typo';
@use 'basics/colors';
@use 'utillities/utilities';
@use 'utillities/flexbox';
@use 'basics/margin-padding';
@use 'basics/nav';
@use 'basics/lists';
@use 'basics/icons';
@use 'min-a11y-style';
@use 'form/_buttons';
@use 'form/_form';
//@use 'custom/dstore/layout';
@use 'custom/dstore/layout_overlay';
@use 'custom/dstore/editor';
@use 'custom/dstore/blocks';
@use 'custom/dstore/data_table';

$marginGap: 2rem;
$headerHeight: 50px;




@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,500;1,200&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 26px;
  margin-bottom: 0px;
}

h2 {
  font-size: 20px;
  margin-bottom: .3rem;
}

h3 {
  font-size: 18px;
  margin-bottom: 0px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}






.topHeader {
  width: 100%;
  background-color: #2653F2;
  color: #fff;
  height: $headerHeight;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: $marginGap;
  padding-right: $marginGap;
}
